@font-face {
  font-family: koodakfont;
  src: url("../BKoodak.ttf");
}
@font-face {
  font-family: times;
  src: url("Times");
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to top left, #28b487, #7dd56f) fixed;
  /* background-image: url("../1_3HRiHAPF7jhADG8x6iahFA.jpg"); */
}
* {
  font-family: koodakfont;
  align-content: center;
  text-align: center;
  direction: rtl;
}
label {
  direction: rtl;
  text-align: right;
  align-items: right;
  align-self: right;
}
#submitb {
  width: 20em;
}
.form-control {
  background-color: aliceblue;
}
pre {
  font-family: times;
  font-size: 1em;
  font-weight: bold;
}
.copyb {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.labels {
  font-size: 1.2em;
}
body
  background: #e9e9e9
  font-family: 'Roboto', sans-serif
  text-align: center
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

span
  color: #666
  font-size: 12px
  display: block
  position: absolute
  bottom: 10px
  position: absolute
  width: 90%
  left: 50%
  top: 45%
  bottom: auto
  right: auto
  transform: translateX(-50%) translateY(-50%)
  text-align: center
  a
    color: #000000
    text-decoration: none
  .fa
    color: #E90606
    margin: 0 3px
    font-size: 10px
    animation: pound .35s infinite alternate
    -webkit-animation: pound .35s infinite alternate

@-webkit-keyframes pound
  to
    transform: scale(1.1)


@keyframes pound
  to
    transform: scale(1.1)