@font-face {
  font-family: koodakfont;
  src: url("../BKoodak.ttf");
}
@font-face {
  font-family: times;
  src: url("../timesnewroman.ttf");
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to top left, #28b487, #7dd56f) fixed;
}
* {
  font-family: koodakfont;
  align-content: center;
  text-align: center;
  direction: rtl;
}
label {
  direction: rtl;
  text-align: right;
  align-items: right;
  align-self: right;
}
#submitb {
  width: 20em;
}
.form-control {
  background-color: aliceblue;
}
pre {
  font-family: times;
  font-size: 1em;
  font-weight: bold;
}
.copyb {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.labels {
  font-size: 1.2em;
}
#developer {
  font-size: 0.7vw;
}
body {
  background: linear-gradient(-45deg, #ee7752, #3bce3b, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
footer {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: -20px;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}
footer p {
  border: none;
  padding: 0;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #7d7d7d;
}
