$mobile-size: 768px;

@media (max-width: $mobile-size) {
  body {
    #main-grid {
      display: grid;
      grid-gap: 10px;
      grid-template-areas:
        "header"
        "menu"
        "main"
        "footer";

      #title {
        grid-area: header;
      }
      .main-form {
        grid-area: main;
      }
      #side-menu {
        grid-area: menu;
      }
      #footer {
        grid-area: footer;
      }
    }
  }
  //////////////////////////
  #side-menu {
    ul {
      margin: 0.5rem;
      display: flex;
      flex-direction: row;
    }

    li {
      color: #888;
      width: 100%;
      font-size: 0.8rem;
    }
    .active {
      border-radius: 0.5rem;
      border: none;
    }

    a {
      padding: 0.3rem;
      border: none;

      &:hover {
        border-radius: 0;
        padding: 0.3rem;
        border: none;
      }

      &:active {
        border-radius: 0.5rem;
      }
    }
    border: none;
  }
  //////////////////////////
  #alarm-text {
    width: 90%;
    margin: auto;

    border-radius: 2rem;
    .form-group {
      width: 100%;
      // Buttons Styling:
    }

    .button-group {
      display: flex;
      flex-direction: column;
      .main-btn {
        margin: 0.7rem;
        padding: 0.5rem;
        width: 70%;
      }
    }

    .form-control {
      // Height of text inputs
      padding: 1rem;
    }
  }
  //////////////////////////

  .contact-form {
    .container {
      //   width: 80%;
    }
  }
  //////////////////////////
  footer {
    .quote {
      max-width: 90%;
      font-size: 1rem;
      margin: 1rem auto;
    }
  }
  /////////////////////////
  .modal-footer {
    .modal-button {
      padding: 2rem;
      align-content: center;
      width: 70%;
      &:hover {
        opacity: 0.8;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
  // End of Media Query
}
